:root{
  background-color: gray;
}

.book-list {
  display: inline-flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: row;
}

.book-item {
  width: 310px;
  height: 550px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  background-color: white;
  align-items: center;
  
}

.photo {
  max-width: 250px;
  min-width: 250px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 1px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.input{
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn{
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.inputbtnform{
  padding-left: 1rem;
}

h1{
  padding-left: 1rem;
}

h2{
  padding-left: 1rem;
}

p{
  padding:0;
  margin: 0;
}
